@media screen and (max-width: 811px) {
  body {
    background-color: hsl(225, 100%, 94%);
    background-image: url(/images/pattern-background-desktop.svg);
  }

  .container {
    margin: 10vh 121px;
  }

  main {
    width: 353px;
    height: 73vh;
    border-radius: 2vh 2vh 2vh 2vh;
  }

  .img img {
    width: 353px;
    border-radius: 2vh 2vh 0 0;
  }

  .heading {
    position: relative;
    top: 18px;
  }

  .item {
    width: 320px;
    position: relative;
    top: 25px;
    left: 18px
  }

  .item2 {
    position: relative;
    top: 40px;
    width: 320px;
    height: 77px;
  }

  .sub-item1 {
    position: relative;
    top: 9px;
    left: 14px;
  }

  .sub-item1 img {
    width: 58px;
  }

  .sub-item2 {
    position: relative;
    left: 32px;
    top: 9px;
  }

  .sub-item2 h3 {
    font-size: 18px;
  }

  .sub-item3 {
    position: relative;
    top: 38px;
    right: 60px;
  }

  .sub-item4 {
    position: relative;
    left: 0;
    top: 25px;
  }

  .item3 {
    position: relative;
    top: 30px;
    left: 10px;
  }

  .pay {
    height: 54px;
    width: 300px;
    position: relative;
    left: 18px;
    top: 25px;
  }

  .cancel {
    position: relative;
    top: 46px;
    left: -8px;
  }

}
/* 
@media screen and (max-width:412px) and(max-height:915px) {
  .container {
    margin: 10vh 138px;
  }

  main {
    height: 65vh;
  }

  .item {
    position: relative;
    left: 14px;
  }

  .sub-item {
    width: 60vw;
  }

  .pay {
    width: 290px;
    position: relative;
    left: 23px;
  }

}

@media screen and (max-width:412px) and (max-height:883px) {
  main {
    height: 68vh;
  }

  .container {
    margin: 10vh 137px;
  }

}

@media screen and (max-width:360px) and (max-height:760px) {
  .container {
    margin: 10vh 139px;
  }

  main {
    height: 74vh;
    width: 300px;
  }

  .img img {
    width: 300px;
  }

  .heading {
    position: relative;
    top: 12px;
  }

  .item {
    position: relative;
    left: -11px;
    top: 15px;
  }

  .sub-item {
    width: 70vw;
  }

  .item2 {
    position: relative;
    top: 27px;
    width: 265px;
    height: 81px;
  }

  .sub-item1 {
    position: relative;
    top: 15px;
    left: 10px;
  }

  .sub-item1 img {
    width: 52px;
  }

  .sub-item2 {
    position: relative;
    left: 22px;
    top: 19px;
  }

  .sub-item2 h3 {
    width: 120px;
  }

  .sub-item3 {
    position: relative;
    top: 47px;
    right: 90px;
  }

  .sub-item4 {
    position: relative;
    left: -61px;
    top: 31px;
  }

  .item3 {
    position: relative;
    top: 10px;
    left: 10px;
  }

  .pay {
    width: 250px;
    position: relative;
    left: 16px;
  }

  .cancel {
    position: relative;
    top: 44px;
    left: -8px;
  }

}

@media screen and (max-width:360px) and (max-height:800px) {
  .container {
    margin: 10vh 122px;
  }

  main {
    height: 71vh;
    width: 310px;
  }

  .img img {
    width: 310px;
    border-radius: 2vh 2vh 0 0;
  }

  .heading {
    position: relative;
    top: 12px;
  }

  .item {
    position: relative;
    left: -7px;
    top: 16px;
  }

  .sub-item {
    width: 72vw;
  }

  .item2 {
    position: relative;
    top: 37px;
    width: 270px;
    height: 77px;
  }

  .sub-item1 {
    position: relative;
    top: 12px;
    left: 12px;
  }

  .sub-item1 img {
    width: 50px;
  }

  .sub-item2 {
    position: relative;
    left: 29px;
    top: 13px;
  }

  .sub-item2 h3 {
    font-size: 18px;
    width: 101px;
  }

  .sub-item3 {
    position: relative;
    top: 42px;
    right: 64px;
  }

  .sub-item4 {
    position: relative;
    left: -34px;
    top: 26px;
  }

  .sub-item4 {
    position: relative;
    left: -34px;
    top: 26px;
  }

  .item3 {
    position: relative;
    top: 28px;
    left: 4px;
  }

  .pay {
    width: 270px;
    position: relative;
    left: 17px;
  }

  .cancel {
    position: relative;
    top: 45px;
    left: -4px;
  }
}

@media screen and (max-width:384px) and(max-height:854px) {
  .container {
    margin: 10vh 128px;
  }

  main {
    height: 69vh;
  }

}

@media screen and (max-width:375px) and (max-height:812px) {
  .container {
    margin: 10vh 126px;
  }

  main {
    height: 73vh;
  }

}

@media screen and (max-width:414px) and (max-height:896px) {
  .container {
    margin: 10vh 135px;
  }

  main {
    height: 66vh;
  }

}

@media screen and (max-width:390px) and (max-height:844px) {
  .container {
    margin: 10vh 130px;
  }

  main {
    height: 70vh;
  }

}

@media screen and (max-width:375px) and (max-height:812px) {
  .container {
    margin: 10vh 126px;
  }

  main {
    height: 73vh;
  }

}
@media screen and (max-width:428px) and (max-height:926px) {
  .container {
    margin: 10vh 142px;
  }
  main {
    height: 65vh;
  }

}
@media screen and (max-width:375px) and (max-height:667px) {
  .container {
    margin: 10vh 125px;
  }
  main {
    height: 89vh;
  }

}
@media screen and (max-width:800px) and (max-height:1280px) {
  .container {
    margin: 13vh 280px;
  }
  main {
    height: 46vh;
  }

} */

